$bootstrap-blue:#007bff;
$bootstrap-green:#28a745;
$bootstrap-grey:#868e96;
$off-white: rgba(0,0,0,.03);
$quick: .5s;

.card{
  position: relative;
  &:before{

   content:"";
   transition: $quick;
   position: absolute;
   height: 130%;
   width: 3px;
   background: rgba($bootstrap-blue,.8s);
   box-shadow: 0 10px 40px rgba($bootstrap-blue,1);
   z-index:-1;
   left: 50%;
  }
 &-header{
   background: rgba($bootstrap-blue,1);
   color: white;
   padding-top: 13px;
   padding-bottom: 0px;
 }
}
.card.disabled{
    .card-header{
      color:black;
      background: $off-white;
    }
    &:before{
      background: $bootstrap-grey;
      box-shadow: 0 10px 40px rgba($bootstrap-grey,1);

    }

}

.quiz{
  /*
    slide under the learn card on mobile
    have them stack
  */
  width: 70%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  &:before{
    display: none;
  }
  &-show{
    transition: left $quick , opacity $quick;
    left: 120%;
    opacity: 1;
    z-index: 0;
  }
}

//make sure they go in order from greatest to least in terms of size
//@media (max-width: 1024px) { .card{width: 50%;} }
//@media (max-width: 500px) { .card{width: 100%;} }
