
<div class="container">
  <div [hidden]="show_score_card" class="card question">
    <form [formGroup]="quizForm">
      <button (click)=loadTasks()  class="btn btn-dark">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
      </button>
      <h6>{{index+1}}.) {{question.question}}</h6>
      <div  *ngFor="let choice of question.choices " class="form-check">
        <label class="form-check-label">
          <input
          [checked]="choices[index]==choice.id"
          class="form-check-input"
           type="radio"
           [value]="choice"
           formControlName="choice">
          {{choice.answer}}
        </label>
      </div>
      <div class="d-flex">
        <button type="button" class="btn btn-save btn-light border border-success">
          Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
        <div class="nav-buttons">

          <button (click)="previousQuestion()" *ngIf="index>0" type="button" class="btn btn-light border border-dark">
             <i class="fa fa-chevron-left" aria-hidden="true"></i> Previous
          </button>
          <button (click)="nextQuestion()" *ngIf="index<questions.length-1" type="button"  class="btn btn-light border border-dark">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
          <button  *ngIf='!(index<questions.length-1)' type="button" (click)="onSubmit()"  class="btn btn-primary">
            Submit <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>
    </div>
  </form>
  </div>

  <div [hidden]="!show_score_card" class="card question score">
    <button (click)=loadTasks()  class="btn btn-dark">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
    <h5 class="score-title">How did you do?</h5>
    <h6 class="score-total">You scored {{score}}%</h6>
    <h6>{{pass? 'Great Job ': 'Try again '}}</h6>
    <button class="btn btn-danger" *ngIf="!pass" (click)="resetQuiz()">Try again</button>
    <button class="btn btn-primary" *ngIf="pass" (click)="loadTasks()">Next Task</button>
  </div>


</div>
