<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand text-primary" routerLink="/">Pathway</a>

  <ul class="nav">
    <li class="nav-item">
        <a class="nav-link active"
         routerLink="/">
         Home</a>

    </li>
    <li class="nav-item">
       <a class="nav-link "
         routerLink="/">
         Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/">
         Sign up</a>
    </li>
</ul>

  </div>
</nav>
