  <ul id="pathway" class="container">
    <li *ngFor="let task of tasks; let i = index" class= "row">
      <pathway-task class="col-12"  [task]="task" [isDisabled]="disableTask(i)"></pathway-task>
    </li>
    <button routerLink="/"
      class="btn btn-lg btn-complete btn-success"
      [disabled]="!completed"
      >
      Done <i class="fa fa-check" aria-hidden="true"></i>
    </button>
  </ul>


        <!-- Will figure out how to use entypo svg fully icons later on i guess...sigh
         <ng-icon  svgIcon="check" svgColor='white' size='10px' ></ng-icon>
      -->
