
<div *ngIf="!hidden">

  <ul id="pathway" class="container">
    <li *ngFor="let task of tasks; let i = index" class= "row">
      <pathway-task
      (questions)="loadQuestions($event)"
      (taskID)="setTaskID($event)" class="col-lg-4 col-6"
      [task]="task"
      [isDisabled]="disableTask(i)"></pathway-task>
    </li>
    <div class= "row">
      <div class="col-lg-4 col-6 center-button">
        <button
          routerLink="/"
          class="btn btn-lg btn-complete btn-success"
          [disabled]="!completed"
          >
          Done <i class="fa fa-check" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </ul>
</div>

<div *ngIf="hidden">
  <pathway-quiz
   [questions]= "questions"
   (completed)="completeTask($event)"
   (showTasks)="loadTasks()"></pathway-quiz>
</div>






        <!-- Will figure out how to use entypo svg fully icons later on i guess...sigh
         <ng-icon  svgIcon="check" svgColor='white' size='10px' ></ng-icon>
      -->
